@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #fb923c;
    height: 100%;
}

html {
    height: 100%;
}

#root {
    height: 100%;
    margin: 0;
    padding: 0 
}